<div class="main-background">

  <div class="row" style="margin-top:-60px">
    <div class="small-6 columns push-1" style="margin-left:20px;">
      <h1 style="margin-top:37%; font-size:24px; font-weight:300; color:#f7f4f4;">ROUND <%= @draft.round %></h1>
      <h1 style="margin-top:-15px; font-size:48px; color:#f7f4f4;">BAND <%= @band.number %></h1>
    </div>
  </div>
  <div class="row band-box">
    <div class="small-8 columns push-1" style="margin-left:20px">

      <%= form_tag home_compatible_path, method: :get do %>

        <% 4.times do |index| %>
          <% cur_index = index + 1 %>
          <% player_sym = "player#{cur_index}".to_sym %>
          <% cur_round = @draft.round == cur_index.to_s %>
          <div class="row small-margin">
            <div class="small-6 columns">
              <label for="right-label" class="player_number_selector <%= "strong active-player" if cur_round %>">
                <span class="text">BAND MEMBER #<%= cur_index %></span>
              </label>
            </div>
            <div class="small-3 left columns input-box">
              <% if cur_round %>
                <%= text_field_tag :player_number, nil, :required => true %>
              <% else %>
                <%= text_field_tag player_sym, @band.send(player_sym), :disabled => true %>
              <% end %>
            </div>
          </div>
        <% end %>

        <%= hidden_field_tag :band_number, @band.number %>
        <%= hidden_field_tag :round, @draft.round %>

        <div class="live-player-link">
          <img src="/assets/orange-arrow.png"/> <%= link_to "ENTER PLAYER", liveplayer_path %>
          <% if params[:liveplayer].present? %>
            <div class="live-player-box">
              <span class="number"><%= Draft.first.livePlayer %></span><br/>
              <span class="name"><%= Player.where(number: Draft.first.livePlayer).first.name %></span>
            </div>
          <% end %>
          <%= submit_tag "Compatible?", :class => 'compatible-button', name: nil %>
        </div>


      <% end %>
    </div>
  </div>

</div>