<div id="bands">

<% @player1 = Player.where(number: @band.player1.to_i).first %>
<% @player2 = Player.where(number: @band.player2.to_i).first %>
<% @player3 = Player.where(number: @band.player3.to_i).first %>
<% @player4 = Player.where(number: @band.player4.to_i).first %>

	<div class="band-<%=@band.number %>">

		<div class="band-number">BAND <%= @band.number %> </div>
			<%= link_to "Go To Live Band", livebands_path, class: 'button top-right' %>

			<% if !@player1.nil? %>
			<div class="row">
				<div class="small-12 columns">
					<div class="player">
						<div class="number">
							<div class="number-inner"><%= image_tag(@player1.image.url) %> </div>
						</div>
						<div class="player-name">
							<div class="player-name-inner"><%= @player1.name %></div>
						</div>
					</div>
				</div>
			</div>
			<% end %>

			<% if !@player2.nil? %>
			<div class="row">
				<div class="small-12 columns">
					<div class="player">
						<div class="number">
							<div class="number-inner"><%= image_tag(@player2.image.url) %> </div>
						</div>
						<div class="player-name">
							<div class="player-name-inner"><%= @player2.name %></div>
						</div>
					</div>
				</div>
			</div>
			<% end %>

			<% if !@player3.nil? %>
			<div class="row">
				<div class="small-12 columns">
					<div class="player">
						<div class="number">
							<div class="number-inner"><%= image_tag(@player3.image.url) %> </div>
						</div>
						<div class="player-name">
							<div class="player-name-inner"><%= @player3.name %></div>
						</div>
					</div>
				</div>
			</div>
			<% end %>

			<% if !@player4.nil? %>
			<div class="row">
				<div class="small-12 columns">
					<div class="player">
						<div class="number">
							<div class="number-inner"><%= image_tag(@player4.image.url) %> </div>
						</div>
						<div class="player-name">
							<div class="player-name-inner"><%= @player4.name %></div>
						</div>
					</div>
				</div>
			</div>
			<% end %>

	</div>

</div>

