<div class="main-background" style="margin-top:0;">
  <%= link_to "Go To Live Band", livebands_path, class: 'button top-right' %>

  <div id="bands">
    <div class="band-<%= @band.number %>">

      <% band = @band %>
      <%= link_to "Go To Live Band", livebands_path, class: 'button top-right' %>

      <div class="band-<%= band.number %> band-layout-container">
        <div class="row">
          <div class="small-11 small-centered text-center columns">
            <div class="band-overall-number">BAND <%= band.number %> </div>
            <ul class="small-block-grid-4 band-layout">
              <% 4.times do |index| %>
                <% cur_index = index + 1 %>
                <% player_sym = "player#{cur_index}".to_sym %>
                <li>
                  <% if !band.send(player_sym).blank? %>
                    <% player = Player.where(number: band.send(player_sym).to_i).first %>
                    <div class="band-picture">
                      <img src='<%= "#{player.front_image}" %>'>
                    </div>
                    <div class="band-member">
                      BAND MEMBER #<%= "#{cur_index}" %>
                    </div>
                    <div class="band-member-name">
                      <%= player.name %>
                    </div>
                  <% else %>
                    <div class="band-picture">
                      <img src="/assets/blank-player-gray.png">
                    </div>
                    <div class="band-member">
                      BAND MEMBER #<%="#{cur_index}" %>
                    </div>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

