<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @band.number %>
  <%= @band.player1 %>
  <%= @band.player2 %>
  <%= @band.player3 %>
  <%= @band.player4 %>
</p>

<p>
  <strong>Title:</strong>
  <%= @band.title %>
</p>


