<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @band.number %>
</p>

<p>
  <strong>Title:</strong>
  <%= @band.title %>
</p>

<%= link_to 'Edit', edit_band_path(@band) %> |
<%= link_to 'Back', bands_path %>
